* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #fe626d;
    --secundary-color: #bc343e;
    --strong-color: #1a2e35;
    --button: #5800a0;
    --font-button: #ffffff;
}

body img {
    display: flex;
    float: right;
    height: 100vh;
    margin-top: -5rem;
}

section {
    background: var(--primary-color);
    border-radius: 30px;
    height: 70vh;
    margin-left: 2rem;
    width: 50vw;
}

header h1 {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    height: 10vh;
    margin-top: 1rem;
    text-align: center;
    width: 50vw;
}

header p {
    background-color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    height: 5vh;
    text-align: center;
    width: 50vw;
}

#txtnome {
    font-size: 20px;
}

#form-aluno {
    font-family: 'Rubik', sans-serif;
    margin-left: 2rem;
}

#form-aluno input {
    font-size: 18px;
}

#form-aluno p {
    font-size: 20px;
    line-height: 40px;
    margin: 0 auto;
}

#txtnome {
    height: 4vh;
    width: 35vw;
}

#nota1 {
    font-size: 18px;
    height: 4vh;
    margin-left: 0.3rem;
    width: 4vw;
}

#nota2 {
    font-size: 18px;
    height: 4vh;
    width: 4vw;
}

#nota3 {
    font-size: 18px;
    height: 4vh;
    margin-left: 0.5rem;
    width: 4vw;
}

#nota4 {
    font-size: 18px;
    height: 4vh;
    margin-left: 1.2rem;
    width: 4vw;
}

#btn-verificar {
    background: var(--button);
    color: var(--font-button);
    border: none;
    border-radius: 1.2rem;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    height: 7vh;
    margin-left: 11rem;
    margin-top: 2rem;
    transition: 0.3s;
    width: 20vw;
}

#btn-verificar:hover {
    background: darkblue;
}

#resultado p {
    background: #1a2e35;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    height: 20vh;
    margin: 0 auto;
    margin-left: 2rem;
    margin-top: 2rem;
    width: 40vw;
}

#resultado img {
    height: 3rem;
}

#resultado img {
    height: 10px;
    width: 10px;
}

footer {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 3rem;
}