* {
    margin: 0;
    padding: 0;
}

body {
    background: #0044ff;
    font: normal 16pt Montserrat;
    margin-top: 30px;
}

header {
    color: #ffffff;
    text-align: center;
}

section {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(26, 26, 26, 0.733);
    margin: 30px auto;
    padding: 15px;
    width: 500px;
}

footer {
    color: #ffffff;
    font-style: italic;
    text-align: center;
}

input#inicio {
    font-size: 14pt;
    height: 1.2rem;
    margin: 0 0 1rem;
    width: 6rem;
}

input#fim {
    font-size: 14pt;
    height: 1.2rem;
    margin: 0 0 1rem;
    margin-left: 1rem;
    width: 6rem;
}

input#passo {
    font-size: 14pt;
    height: 1.2rem;
    margin: 0 0 1rem;
    width: 6rem;
}

input#btn {
    background: #868686;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 12pt;
    padding: 0.5rem;
    margin: 0 0 1rem;
    transition: 0.2s;
    width: 8rem;
}

input#btn:hover {
    background: #0044ff;
    color: aliceblue;
}