* {
    margin: 0;
    padding: 0;
}

body {
    background: #0044ff;
    font: normal 16pt Montserrat;
    margin-top: 30px;
}

header {
    color: #ffffff;
    text-align: center;
}

section {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(26, 26, 26, 0.733);
    margin: 30px auto;
    padding: 15px;
    width: 600px;
}

div {
    padding: 10px;
    text-align: left;
}

input#btn {
    background: #96a8b9;
    border: none;
    border-radius: 4px;
    font: normal 14pt Montserrat;
    padding: 10px;
    transition: 0.2s;
}

input#btn:hover {
    background: cornflowerblue;
}

img#arrow {
    height: 18px;
}

p#button {
    margin-top: 40px;
}

input#txtano {
    font: normal 12pt Montserrat;
    margin-bottom: 20px;
}

footer {
    color: #ffffff;
    font-style: italic;
    text-align: center;
}