.item_first {
    display: inline-block;
    margin-left: 40px;
}

.item_first input#number {
    font-size: 18px;
    height: 25px;
    width: 100px;
}

.item_first input#btn {
    background-color: orange;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin: auto;
    text-align: center;
    transition: 0.2s;
    width: 120px;
}

input#btn:hover {
    background: #B77336;
}

.item_first input#btn {
    height: 30px;
    margin-left: 10px;
}

.item_second {
    margin-top: 30px;
}

.item_second img#img {
    height: 100px;
    margin-left: 30px;
}

.item_third select#txtres {
    width: 150px;
    margin-left: 150px;
    margin-top: -100px;
}